<% layout("layouts/boilerplate")%>

<main class="px-3">
    <h1>Food Recipes</h1>
    <p class="lead">Welcome to FoodRecipes! Jump right in and explore our many recipes. <br>
        Feel free to share some of your own and comment on others! 
    </p>
<a href="/recipes" class="btn btn-lg btn-secondary font-weight-bold text-white ">View Recipes</a>
</main>

